
__pycache__/
__pycache__
test/
*.pyc
.idea/
.claude/
CLAUDE.md
.env
.venv/
.vscode/
.DS_Store
files/
translation.egg-info/
examples/
*.egg-info/
*.txt
*.pdf
*.epub
*.pdf.gz
*.epub.gz
*.pdf.bz2
*.epub.bz2
*.pdf.xz
*.epub.xz